html{
    background-color: lightgray;
}

*{
    padding: 0;
    margin: 0;
    text-align: center;
}

.container{
    background-color: lightgray;
    height: 100vh;
}

.header-container{
    background-color: white;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    padding: 25px;
}

h3, button{
    color: black;
}

h3{
    font-size: 2rem;
}
button{
    padding: 15px;
}

.book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    justify-items: center;
    border: solid green;
    gap: 25px;
}
.book{
    height: 150px;
    width: 150px;
    border: solid purple;
}

.author{
    overflow-wrap: break-word;
}

.author, .title, .pages, .read{
    padding: 2px;
}
.title, .pages, .read{
    border-top: black solid;
}